.file {
    @include text-body-small;

    width: 44rem;
    display: inline-flex;
    align-items: start;
    gap: 2rem;
    transition: all 0.3s ease-out;
    color: var(--ultramarine-default-color);
    cursor: pointer;

    @include mobile {
        width: 35.1rem;
    }

    .icon-file {
        content: url(../../icons/file-default.svg);
        background-size: contain;
        width: 4rem;
        height: 4rem;

        @include mobile {
            width: 3.2rem;
            height: 3.2rem;
        }
    }

    .file__content {
        display: flex;
        flex-direction: column;
        gap: 1.6rem
    }

    .file__size {
        @include text-caption;
        color: var(--text-secondary-promo-color);
    }

    @include from-mobile {
        &:hover {
            .file__text {
                text-decoration: underline;
            }

            .icon-file {
                content: url(../../icons/file-hover.svg);
            }
        }
    }

}