.link {
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;

    .icon {
        width: 2rem;
        height: 2rem;

        @include mobile {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    .link__text {
        @include text-body-small;
    }

    &--social {
        .icon {
            content: url('../../icons/social-vk.svg');
        }
        gap: 1.2rem;

        .icon {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    &--icon {

        .icon {
            content: url('../../icons/link.svg');
        }

        &.link--s {
            .icon {
                width: 2rem;
                height: 2rem;
            }
        }

        &.link--l {
            .icon {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }

    &--s {
        @include text-body-small;

        &.link--social {
            @include text-body-bold;
        }
    }

    &--l {
        @include text-body;
    }

    &--default {
        text-decoration: none;
    }

    &--hover,
    &--pressed,
    &--text {
        color: var(--ultramarine-default-color);
    }

    @include from-mobile {
        &:hover {
            color: var(--ultramarine-default-color);
            text-decoration: underline;
        }
    }

    &:active {
        color: var(--ultramarine-dark-color);
    }
}