@mixin icon-style($width, $height, $content: null) {
    width: $width;
    height: $height;

    @if $content {
        content: url($content);
    }

    @include mobile {
        width: 1.6rem;
        height: 1.6rem;
    }
}

$link-icon: '../../icons/link.svg';
$social-icon: '../../icons/social-vk.svg';

.link {
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;

    .icon {
        @include icon-style(2rem, 2rem);
    }

    &--social {
        gap: 1.2rem;

        .icon {
            @include icon-style(1.6rem, 1.6rem, $social-icon);
        }
    }

    &--icon {
        .icon {
            @include icon-style(2rem, 2rem, $link-icon);

            &.link--s {
                @include icon-style(2rem, 2rem);
            }

            &.link--l {
                @include icon-style(2.4rem, 2.4rem);
            }
        }
    }

    &--text {
        color: var(--ultramarine-default-color);
    }

    &--s {
        @include text-sm;

        &.link--social {
            @include text-bold;
        }
    }

    &--l {
        @include text-body;
    }

    &--default {
        text-decoration: none;
    }

    @include from-mobile {
        &:hover {
            color: var(--ultramarine-default-color);
            text-decoration: underline;
        }
    }

    &:active {
        color: var(--ultramarine-default-color);
        text-decoration: underline;
    }
}