.menu-item {
    @include text-button;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    transition: all 0.3s ease-out;

    .icon {
        width: 2rem;
        height: 2rem;
        content: url('../../icons/icon-right.svg');

        @include mobile {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    .menu-item__inner {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        padding: 1.2rem;
        border-radius: 1.2rem;

        @include mobile {
            background-color: var(--gray-color-1);
        }
    }

    @include from-mobile {
        &:hover {
            background-color: var(--gray-color-4);

            .icon {
                content: url('../../icons/icon-right-hover.svg');
            }
        }
    }

    &:active {
        color: var(--ultramarine-default-color);
        background-color: var(--gray-color-4);

        .icon {
            content: url('../../icons/icon-right-pressed.svg');
        }

        @include mobile {
            background-color: var(--gray-color-4);
        }
    }
}