.news-card {
    background-color: var(--card-color);
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 1.6rem;
    width: 44rem;
    cursor: pointer;

    @include mobile {
        width: 35.1rem;
        gap: 2rem;
        border-radius: 3.2rem;
        padding: 1.2rem;
    }

    &__header {
        border-radius: 2.8rem;
        background-image: url('../../icons/event-card-img.svg');
        background-size: cover;
        background-position: center;
        width: 40.8rem;
        height: 25.2rem;

        @include mobile {
            border-radius: 2.4rem;
            width: 32.7rem;
            height: 20rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 0 1.6rem 1.6rem 1.6rem;
        gap: 2.4rem;
    }

    &__title {
        @include text-h4;
        color: var(--text-color);
    }

    &__meta {
        @include text-sm;
        color: var(--text-secondary-promo-color);

        span:nth-child(1) {
            border-right: 1px solid var(--border-color);
            padding-right: 0.8rem;
        }

        span:nth-child(2) {
            padding-left: 0.8rem;
        }
    }

    @include from-mobile {
        &:hover {
            .news-card__title {
                color: var(--ultramarine-default-color);
            }
        }
    }
}