.pagination {
    @include text-body;
  
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    gap: 1rem;
    border-radius: 1.6rem;
    background-color: transparent;
    color: var(--text-color);
    transition: all 0.3s ease-out;
  
    .pagination__inner {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }
  
    @include mobile {
        border-radius: 1.2rem;
    }
  
    &:active {
        background-color: var(--gray-color-5);
    }
  
    &--disabled {
        color: var(--text-blind-color);
        cursor: not-allowed;
        pointer-events: none;
    }
  
    @include from-mobile {
        &:hover {
            background-color: var(--gray-color-4);
        }
    }
  
    &--number {
        .pagination__text {
            font-weight: bold;
        }
    }
  
    &--icon {
        .icon {
            width: 2rem;
            height: 2rem;
            content: url(../../icons/arrow-left.svg);
  
            @include mobile {
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }
  }