.tab {
    @include text-tab;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 1.6rem;
    gap: 0.8rem;
    border-radius: 1.6rem;
    color: var(--text-secondary-promo-color);
    transition: all 0.3s ease-out;
    background-color: var(--gray-color-6);

    .tab__inner {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }

    @include mobile {
        padding: 0.8rem 1.2rem;
        border-radius: 1.2rem;
    }

    @include from-mobile {
        &:hover {
            background-color: var(--gray-color-4);
        }
    }

    &:active {
        background-color: var(--gray-color-4);
        color: var(--text-color);
    }

    @include from-mobile {
        &:hover {
            background-color: var(--gray-color-4);
            color: var(--text-secondary-promo-color);
        }
    }
}