.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.2rem;
    border-radius: 1.6rem;
    color: var(--text-color);
    transition: all 0.3s ease-out;

    @include text-button;

    .tag__inner {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }

    &__educational-materials {
        background-color: var(--card-color);
    }

    &__event {
        background-color: var(--gray-color-3);
    }

    @include mobile {
        &:hover {
            color: var(--text-secondary-color);
        }
    }

    &__parenting {
        background-color: var(--cyan-light-color-2);
        color: var(--cyan-default-color);
    }

    &__education {
        background-color: var(--purple-light-color);
        color: var(--purple-default-color);
    }

    &__science {
        background-color: var(--electric-green-light-color-2);
        color: var(--electric-green-default-color);
    }

    &__creativity {
        background-color: var(--suai-red-light-2-color);
        color: var(--suai-red-light-1-color);
    }

    &__sport {
        background-color: var(--suai-blue-light-color);
        color: var(--suai-blue-default-color);
    }
}