.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.2rem;
    color: var(--text-color);
    transition: all 0.3 ease-out;

    @include text-button;

    &--desktop {
        border-radius: 1.6rem;

        &.tag--educational-materials {
            gap: 0.8rem;
            background-color: var(--card-color);

            &.tag--hover {
                color: var(--text-secondary-promo-color);
            }
        }

        &.tag--event {
            @include text-body-small-bold;
            border-radius: 0.8rem;
            padding: 0.6rem 1.2rem;
            gap: 1rem;
            background-color: var(--gray-color-3);
            color: var(--text-secondary-promo-color);

            &.tag--hover {
                background-color: var(--gray-color-4);
            }
        }
    }

    &--mobile {
        border-radius: 1.2rem;

        &.tag--educational-materials {
            padding: 0.6rem 1.2rem;
            gap: 0.8rem;
        }

        &.tag--event {
            @include text-body-small-bold;
            border-radius: 0.8rem;
            padding: 0.4rem 0.8rem;
            gap: 1rem;
        }
    }

    &--parenting {
        background-color: var(--cyan-light-color-2);
        color: var(--cyan-default-color);
    }

    &--education {
        background-color: var(--purple-light-color);
        color: var(--purple-default-color);
    }

    &--science {
        background-color: var(--electric-green-light-color-2);
        color: var(--electric-green-default-color);
    }

    &--creativity {
        background-color: var(--suai-red-light-2-color);
        color: var(--suai-red-light-1-color);
    }

    &--sport {
        background-color: var(--suai-blue-light-color);
        color: var(--suai-blue-default-color);
    }
}