@function icon-url($icon-name){
    @return url('../../icons/#{$icon-name}.svg');
}

.icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-link {
    background-image: icon-url('link');
}

.icon-social-vk {
    background-image: icon-url('social-vk');
}

.icon-file {
    background-image: icon-url('file-default');

    &.icon-file--hover {
        background-image: icon-url('file-hover');
    }
}

.icon-success {
    background-image: icon-url('alert-success');
}

.icon-error {
    background-image: icon-url('alert-error');
}

.icon-close {
    background-image: icon-url('x');
}

.icon-arrow-up {
    background-image: icon-url('arrow-up');
}

.icon-arrow-right {
    background-image: icon-url('arrow-right');
}

.icon-button {
    background-image: icon-url('button');
}

.icon-button-hover {
    background-image: icon-url('button-hover');
}

.icon-button-pressed {
    background-image: icon-url('button-pressed');
}

.icon-button-disabled {
    background-image: icon-url('button-disabled');
}

.icon-right {
    background-image: icon-url('icon-right');
}

.icon-right-hover {
    background-image: icon-url('icon-right-hover');
}

.icon-right-pressed {
    background-image: icon-url('icon-right-pressed');
}

.icon-arrow-button {
    background-image: icon-url('arrow-button');
}

.icon-arrow-button-contrast {
    background-image: icon-url('arrow-button-contrast');
}

.icon-arrow-button-disabled {
    background-image: icon-url('arrow-button-disabled');
}

.icon-button-bookmark {
    background-image: icon-url('bookmark');
}

.icon-button-player-play {
    background-image: icon-url('bookmark');
}

.icon-button-bookmark-pressed {
    background-image: icon-url('bookmark-pressed');
}

.icon-arrow-up-right {
    background-image: icon-url('arrow-up-right');
}

.icon-arrow-up-right-hover {
    background-image: icon-url('arrow-up-right-hover');
}

.icon-arrow-up-right-disabled {
    background-image: icon-url('arrow-up-right-disabled');
}

.icon-arrow-left {
    background-image: icon-url('arrow-left');
}

.icon-plus {
    background-image: icon-url('icon-plus');
}

.icon-minus {
    background-image: icon-url('icon-minus');
}

.icon-event-card-img {
    background-image: icon-url('event-card-img');
}

.icon-alarm-plus {
    background-image: icon-url('alarm-plus');
}

.icon-alarm-plus-red {
    background-image: icon-url('alarm-plus-red');
}

.icon-clock {
    background-image: icon-url('clock');
}

.icon-map-pin {
    background-image: icon-url('map-pin');
}

.icon-users-group {
    background-image: icon-url('users-group');
}

.icon-tg {
    background-image: icon-url('tg');
}

.icon-vk {
    background-image: icon-url('vk');
}

.icon-paraweb-logo {
    background-image: icon-url('paraweb-logo');
}