@function icon-url($icon-name){
@return url('../../icons/#{$icon-name}.svg');
}

.icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-link {
    background-image: icon-url('link');
}

.icon-social-vk {
    background-image: icon-url('social-vk');
}

.icon-file {
    background-image: icon-url('file-default');

    &.icon-file--hover {
        background-image: icon-url('file-hover');
    }
}

.icon-success {
    background-image: icon-url('alert-success');
}

.icon-error {
    background-image: icon-url('alert-error');
}

.icon-close {
    background-image: icon-url('x');
}

.icon-arrow-up {
    background-image: icon-url('arrow-up');
}

.icon-arrow-right {
    background-image: icon-url('arrow-right');
}